@import "normalize.css";
@import "https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css";
@import "@companycam/slab-tokens/css/base.css";
@import "@companycam/slab-tokens/css/light_environment.css";
@import "@companycam/slab-tokens/css/dark_environment.css";

/* Averta Font Family */
@font-face {
  font-family: 'Averta';
  src: url('https://companycam-public-designassets.s3.us-west-2.amazonaws.com/fonts/Averta/web/Averta-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta';
  src: url('https://companycam-public-designassets.s3.us-west-2.amazonaws.com/fonts/Averta/web/Averta-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Averta';
  src: url('https://companycam-public-designassets.s3.us-west-2.amazonaws.com/fonts/Averta/web/Averta-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Averta';
  src: url('https://companycam-public-designassets.s3.us-west-2.amazonaws.com/fonts/Averta/web/Averta-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family:
    "Averta",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  color: var(--cc_color_text_default);
  line-height: 1.3;
  font-size: 100%;
  margin: 0;
}
